
body {
	margin: 0;
	font-family: "Avenir Next", "Segoe UI", "Roboto", sans-serif;
}

.app-popup {
	width: 200px;
	height: auto;
	overflow: hidden;
	box-sizing: border-box;
	padding: 1em;
}

.app-popup div {
	font-size: 0.875rem;
	line-height: 1.5em;
}
